.footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

#homepage-jumbotron{
    background-image: url('../../resources/barber.jpg');
    height: 0;
    padding: 0;
    padding-bottom: 75%;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#homepage-jumbotron .jumbotron {
    padding: 2rem 1rem;
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
    background-color: #f5f5f5
}

nav {
    margin-left: -16px;
    margin-right: -16px;
}

.label-valid {
    color: #28a745;
}

.label-invalid {
    color: #dc3545;
}

.input-valid {
    border-color: #28a745;
}

.input-valid:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40,167,69,.25);
}

.input-invalid {
    border-color: #dc3545;
}

.input-invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }